@using Hacapp.Web.Models.Team
@model Hacapp.Web.Models.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}

@if (Model.PendingMemberships.Any())
{
    <div class="row">
        <div class="col-md-4">
            <h3>Pending memberships</h3>
            @foreach (var pendingMembership in Model.PendingMemberships)
            {
                <div class="row">
                    <div class="col-md-4">
                        @pendingMembership.UserName want to join @pendingMembership.TeamName
                    </div> 
                    <div class="col-md-4">
                        @Html.ActionLink("Confirm membership", "UpdateMembership", "Team", new { idOfUserToUpdate = @pendingMembership.UserId, teamId = @pendingMembership.TeamId, newStatus = UserMembershipStatus.Confirmed }, new { Class = "btn btn-sm btn-default" })
                    </div>           
                </div>
            }
        </div>
    </div>
    
}

<div class="row">
    <div class="col-md-4">
        <h3>Todays tasks</h3>
        <div class="row">
            <p>Sample task 1</p>            
        </div>
        <div class="row">
            <p>Sample task 1</p>
        </div>
        <div class="row">
            <p>Sample task 1</p>
        </div>
    </div>
</div>